* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Work Sans";
  padding: 8px 24px;
  background-color: #2094E6;
}
.blue-box a {
  text-decoration: none;
  color: white;
}
.blue-box a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blue-box a:hover:after {
  width: 100%;
}

.h1 {
  font-size: 60px;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 66px;
}

.p {
  font-size: 18px;
  font-family: "Work Sans";
  margin-bottom: 24px;
  line-height: 27px;
}

.header {
  padding: 20px 120px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 3;
}
.header .section-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .section-container .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .section-container .header-content nav.nav-bar {
  margin-right: 82px;
}
.header .section-container .header-content nav.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
}
.header .section-container .header-content nav.nav-bar ul li a {
  font-size: 24px;
  color: white;
  font-weight: 500;
  font-family: "Work Sans";
  text-decoration: none;
}
.header .section-container .header-content nav.nav-bar ul li a:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .section-container .header-content nav.nav-bar ul li a:hover {
  color: #ff3c78;
}
.header .section-container .header-content nav.nav-bar ul li a:hover:after {
  width: 100%;
}

section.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 660px;
  margin-bottom: 166px;
}
section.hero-section figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.hero-section figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 30%;
}
section.hero-section figure img.background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.hero-section div.section-container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.hero-section div.section-container div.section-content {
  max-width: 592px;
  margin: 150px 0 100px 120px;
  color: white;
  z-index: 2;
}

@media (max-width: 1024px) {
  header.header .section-container .header-content {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }
  .h1 {
    font-size: 25px;
  }
  .p {
    font-size: 16px;
  }
  section.hero-section div.section-container div.section-content {
    margin: 15px;
    max-width: 600px;
  }
  section.hero-section div.section-container {
    width: 100%;
    padding: 0, 10px;
  }
}