.about-us {
    margin-bottom: 100px;
  }
  .about-us .about-us-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 125px;
    margin: 0 auto;
  }
  .about-us .about-us-container .about-us-left figure.about-us-pics .fountain-img {
    border: 2px solid #E3DEC1;
    border-top: none;
    padding: 10px;
    display: block;
  }
  .about-us .about-us-container .about-us-left figure.about-us-pics .mountain-img {
    position: absolute;
    bottom: -60px;
    right: -50px;
  }
  .about-us .about-us-container .about-us-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0px;
    gap: 20px;
  }
  .about-us .about-us-container .about-us-right .about-us-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .about-us .about-us-container .about-us-right .about-us-top .about-us-top-bluetext {
    color: #2094E6;
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 18px;
  }
  .about-us .about-us-container .about-us-right .about-us-top .about-us-top-h2 {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 45px;
  }
  .about-us .about-us-container .about-us-right p.about-us-text {
    max-width: 486px;
    font-family: "Work Sans";
    font-size: 18px;
    line-height: 150%;
  }
  
  @media (max-width: 1024px) {
    .about-us .about-us-container{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
      padding: 0 10px;
      gap: 35px;
    }
    .about-us .about-us-container .about-us-left{
      margin-right: 0;
      margin-bottom: 20px;
    }
    .about-us .about-us-container .about-us-left figure.about-us-pics{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
    .about-us .about-us-container .about-us-right{
      -ms-flex-item-align: start;
          align-self: flex-start;
    }
    .about-us .about-us-container .about-us-right .about-us-top .about-us-top-h2{
      font-size: 25px;
    }
    .about-us .about-us-container .about-us-right p.about-us-text {
      font-size: 15px;
      max-width: 100%;
    }
    .about-us-figure {
      height: 250px;
    }
    .about-us .about-us-container .about-us-left figure.about-us-pics .fountain-img {
      width: 50%;
      max-width: 50%;
      padding: 0;
      max-height: 100%;
      border: none;
    }
    .about-us .about-us-container .about-us-left figure.about-us-pics .mountain-img {
      position: relative;
      width: 50%;
      max-width: 50%;
      max-height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      bottom: 0;
      right: 0;
    }
  }
  /* about us section finished */
  /* frames section start */
  section.frames {
    margin-top: 120px;
    margin-bottom: 120px;
  }
  section.frames .frames-list {
    width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    gap: 20px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  section.frames .frames-list div.frame {
    -webkit-box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
            box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
    padding: 35px 25px 25px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  section.frames .frames-list div.frame:hover {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  section.frames .frames-list div.frame .frame-h2 {
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 15px;
  }
  section.frames .frames-list div.frame .frame-p {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  section.frames .frames-list div.frame .frame-img {
    margin-bottom: 14px;
  }
  
  @media (max-width: 1024px) {
    section.frames {
      margin: 60px 20px 50px 20px;
    }
    section.frames .frames-list {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    section.frames .frames-list div.frame {
      padding: 30px 20px 20px;
      margin-bottom: 10px;
      width: 100%;
    }
  }
  /* frames section finished */