*{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// frequently used
.blue-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Work Sans";
    padding: 8px 24px;
    background-color: #2094E6;
    a{
        text-decoration: none;
        color: white; 
      &:after{
            content: "";
            position: absolute;
            background-color: white;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -5px;
            transition: 0.3s;
        }
       &:hover:after{
        width: 100%;
       }
    }
}
.h1{
    font-size: 60px;
    font-family: "Playfair Display";
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 66px;
}
.p{
    font-size: 18px;
    font-family: "Work Sans";
    margin-bottom: 24px;
    line-height: 27px;
}
// frequently used end


// header section start

.header{
    padding: 20px 120px;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    z-index: 3;
    .section-container{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header-content{
            display: flex;
            align-items: center;
            nav.nav-bar {
                margin-right: 82px;
                ul {
                    display: flex;
                    list-style: none;
                    gap: 50px;
                    li {
                        a {
                            font-size: 24px;
                            color: white;
                            font-weight: 500;
                            font-family: "Work Sans";
                            text-decoration: none;
                            &:after {
                                content: "";
                                position: absolute;
                                background-color: #ff3c78;
                                height: 3px;
                                width: 0;
                                left: 0;
                                bottom: -7px;
                                transition: 0.3s;
                            }
                            &:hover {
                                color: #ff3c78;
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// header section end
// hero-section start
section.hero-section {
    display: flex;
	align-items: center;
	min-height: 660px;
	margin-bottom: 166px;
    figure {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black;
			opacity: 30%;
		}
        img.background{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
	}
    div.section-container{
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div.section-content{
            max-width: 592px;
            margin: 150px 0 100px 120px;
            color: white;
            z-index: 2;
        }
    } 
}
@media (max-width: 1024px) {
    header.header .section-container .header-content{
      display: none;
    }
    .logo {
      margin: 0 auto;
    }
    .h1 {
      font-size: 25px;
    }
    .p {
      font-size: 16px;
    }
    section.hero-section div.section-container div.section-content{
      margin: 15px;
      max-width: 600px;
    }
    section.hero-section div.section-container{
      width: 100%;
      padding: 0, 10px;
    }
  }