* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blue-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-family: "Work Sans";
  padding: 8px 24px;
  background-color: #2094E6;
}
.blue-box a {
  text-decoration: none;
  color: white;
}
.blue-box a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.blue-box a:hover:after {
  width: 100%;
}

.h1 {
  font-size: 60px;
  font-family: "Playfair Display";
  font-weight: 600;
  margin-bottom: 24px;
  line-height: 66px;
}
@media (max-width: 1024px) {
  .h1 {
    font-size: 25px;
    line-height: 35px;
  }
}

.p {
  font-size: 18px;
  font-family: "Work Sans";
  margin-bottom: 24px;
  line-height: 27px;
}
@media (max-width: 1024px) {
  .p {
    font-size: 16px;
  }
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0 30px;
  color: #ffffff;
}

.service-h3 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-top: 100px;
  margin-bottom: 15px;
}

.service-text {
  font-family: "Work Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 52px;
}

.header {
  padding: 20px 120px;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 3;
}
@media (max-width: 1024px) {
  .header {
    display: none;
  }
}
.header .section-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .section-container .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .section-container .header-content nav.nav-bar {
  margin-right: 82px;
}
.header .section-container .header-content nav.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
}
.header .section-container .header-content nav.nav-bar ul li a {
  font-size: 24px;
  color: white;
  font-weight: 500;
  font-family: "Work Sans";
  text-decoration: none;
}
.header .section-container .header-content nav.nav-bar ul li a:after {
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header .section-container .header-content nav.nav-bar ul li a:hover {
  color: #ff3c78;
}
.header .section-container .header-content nav.nav-bar ul li a:hover:after {
  width: 100%;
}

section.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 660px;
  margin-bottom: 166px;
}
section.hero-section figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.hero-section figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 30%;
}
section.hero-section figure img.background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.hero-section div.section-container {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  section.hero-section div.section-container {
    width: 100%;
    padding: 0, 10px;
  }
}
section.hero-section div.section-container div.section-content {
  max-width: 592px;
  margin: 150px 0 100px 120px;
  color: white;
  z-index: 2;
}
@media (max-width: 1024px) {
  section.hero-section div.section-container div.section-content {
    margin: 15px;
    max-width: 600px;
  }
}

section.hero-section div.section-container {
  width: 100%;
  padding: 0, 10px;
}

.about-us {
  margin-bottom: 100px;
}

.about-us .about-us-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 125px;
  width: 1200px;
  margin: 0 auto;
}

.about-us .about-us-container .about-us-left figure.about-us-pics .fountain-img {
  border: 2px solid #E3DEC1;
  border-top: none;
  padding: 10px;
  display: block;
}

.about-us .about-us-container .about-us-left figure.about-us-pics .mountain-img {
  position: absolute;
  bottom: -60px;
  right: -50px;
}

.about-us .about-us-container .about-us-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.about-us .about-us-container .about-us-right .about-us-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
}

.about-us .about-us-container .about-us-right .about-us-top .about-us-top-bluetext {
  color: #2094E6;
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 18px;
}

.about-us .about-us-container .about-us-right .about-us-top .about-us-top-h2 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 45px;
}

.about-us .about-us-container .about-us-right p.about-us-text {
  max-width: 486px;
  font-family: "Work Sans";
  font-size: 18px;
  line-height: 150%;
}

@media (max-width: 1024px) {
  .about-us .about-us-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    gap: 35px;
  }
  .about-us .about-us-container .about-us-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about-us .about-us-container .about-us-left figure.about-us-pics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-us .about-us-container .about-us-right {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .about-us .about-us-container .about-us-right .about-us-top .about-us-top-h2 {
    font-size: 25px;
  }
  .about-us .about-us-container .about-us-right p.about-us-text {
    font-size: 15px;
    max-width: 100%;
  }
  .about-us-figure {
    height: 250px;
  }
  .about-us .about-us-container .about-us-left figure.about-us-pics .fountain-img {
    width: 50%;
    max-width: 50%;
    padding: 0;
    max-height: 100%;
    border: none;
  }
  .about-us .about-us-container .about-us-left figure.about-us-pics .mountain-img {
    position: relative;
    width: 50%;
    max-width: 50%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    bottom: 0;
    right: 0;
  }
}
section.frames {
  margin-top: 120px;
  margin-bottom: 120px;
}

section.frames .frames-list {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

section.frames .frames-list div.frame {
  -webkit-box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  padding: 35px 25px 25px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

section.frames .frames-list div.frame:hover {
  -webkit-transform: rotateX(30deg);
  transform: rotateX(30deg);
}

section.frames .frames-list div.frame .frame-h2 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
}

section.frames .frames-list div.frame .frame-p {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

section.frames .frames-list div.frame .frame-img {
  margin-bottom: 14px;
}

@media (max-width: 1024px) {
  section.frames {
    margin: 60px 20px 50px 20px;
  }
  section.frames .frames-list {
    width: 100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  section.frames .frames-list div.frame {
    padding: 30px 20px 20px;
    margin-bottom: 10px;
    width: 100%;
  }
}
section.our-services {
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  section.our-services {
    margin-bottom: 50px;
  }
}
section.our-services div.service-container {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  section.our-services div.service-container {
    width: 100%;
  }
}
section.our-services div.service-container .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  gap: 20px;
}
@media (max-width: 1024px) {
  section.our-services div.service-container .services-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
section.our-services div.service-container .services-list .services {
  height: 400px;
}
section.our-services div.service-container .services-list .services figure {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
section.our-services div.service-container .services-list .services figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section.our-services div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px;
  gap: 10px;
  margin-bottom: 65px;
}
section.our-services div.title p.blue-text {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2094E6;
}
section.our-services div.title h2.title-h2 {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
}
@media (max-width: 1024px) {
  section.our-services div.title h2.title-h2 {
    font-size: 30px;
  }
}