.section-left{
    position: absolute;
    margin-top: 166px;
    margin-left: 120px;
    width: 667px;
    height: 546px;
}
.section-right{
    position: absolute;
    margin-top: 166px;
    left: 830px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.fountain-img{
    position: absolute;
    border: 2px solid #E3DEC1;
    padding: 10px;
    gap: 10px;
    top: 0;
    left: 0;
}
.mountain-img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.about-us-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-top-link{
    text-decoration: none;
    color: #2094E6;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 18px;
}

.about-us-top-h2{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 45px;
}

.about-us-text{
   max-width: 486px;
   font-family: 'Work Sans';
   font-size: 18px;
   line-height: 150%;
}