.about-us{
    margin-bottom: 100px;
}
.about-us-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    margin: 0 auto;
}
.about-us-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}
.fountain-img{
    border: 2px solid #E3DEC1;
    border-top: none;
    padding: 10px;
    max-width: 577px;
    display: block;
    max-width: 577px;
    max-height: 425px;
}
.mountain-img{
    position: absolute;
    bottom: -60px;
    right: -50px;
    max-width: 386px;
    max-height: 263px;
}

.about-us-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-top-bluetext{
    color: #2094E6;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 18px;
}

.about-us-top-h2{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 45px;
}

.about-us-text{
   max-width: 486px;
   font-family: 'Work Sans';
   font-size: 18px;
   line-height: 150%;
}


@media( max-width: 1024px ){
    .about-us-container{
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
        gap: 35px;
    }
    .mountain-img{
        bottom: 0;
        right: 0;
    }
    .about-us-pics{
        display: flex;
        align-items: center;
        width: auto;
        height: auto;
    }
    .about_left{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .about-us-top-h2{
        font-size: 25px;
    }
    .about-us-text{
        font-size: 15px;
    }

    .fountain-img{
        width: 50%;
        max-width: 50%;
        max-height: 250px;
        padding: 0;
        border: none;
    }
    .mountain-img{
        position: relative;
        width: 50%;
        max-width: 50%;
    }
}