*{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.blue-box{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "Work Sans";
    padding: 8px 24px;
    background-color: #2094E6;
    a{
        text-decoration: none;
        color: white; 
      &:after{
            content: "";
            position: absolute;
            background-color: white;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -5px;
            transition: 0.3s;
        }
       &:hover:after{
        width: 100%;
       }
    }
}
.h1{
    font-size: 60px;
    font-family: "Playfair Display";
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 66px;
    @media (max-width: 1024px){
        font-size: 25px;
        line-height: 35px;
    }
}
.p{
    font-size: 18px;
    font-family: "Work Sans";
    margin-bottom: 24px;
    line-height: 27px;
    @media (max-width: 1024px){
        font-size: 16px;
    }
}
.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 30px;
    color: #ffffff;
}
.service-h3{
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 100px;
    margin-bottom: 15px;
}
.service-text{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 52px;
}
